USE [master]
GO
/****** Object:  Database [TTR.MDCS]    Script Date: 24-4-2018 11:46:20 ******/
CREATE DATABASE [TTR.MDCS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTR.MDCS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TTR.MDCS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TTR.MDCS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TTR.MDCS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTR.MDCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTR.MDCS]
GO
/****** Object:  User [LAPTOPKENLEY\Kenley]    Script Date: 24-4-2018 11:46:20 ******/
CREATE USER [LAPTOPKENLEY\Kenley] FOR LOGIN [LAPTOPKENLEY\Kenley] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LAPTOPKENLEY\Kenley]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 24-4-2018 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Rapportage_Nr] [int] NOT NULL,
	[Taak_Id] [int] NOT NULL,
	[Datum] [date] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 24-4-2018 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Omschrijving] [nchar](400) NULL,
	[Datum] [date] NULL,
	[Bezoek] [nchar](10) NULL,
	[Onderzoek] [int] NULL,
	[Conference_Call] [int] NULL,
	[Status] [nchar](20) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-4-2018 11:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gebruikersnaam] [nchar](50) NOT NULL,
	[Wachtwoord] [nchar](50) NOT NULL,
	[Email] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
